<ion-content>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mx-3 mb-4">

      <ion-buttons slot="start">
        <ion-back-button default-href="/auth/login" text="Regresar"></ion-back-button>
      </ion-buttons>


      <ion-item>
        <ion-input formControlName="name" type="text" labelPlacement="floating" label="Nombre"></ion-input>
      </ion-item>
      <ion-text color="danger" class="text-error pl-3" *ngIf="idValidField('name')">
        El nombre es requerido.
      </ion-text>

      <ion-item>
        <ion-input formControlName="lastname" type="text" labelPlacement="floating" label="Apellido"></ion-input>
      </ion-item>
      <ion-text color="danger" class="text-error pl-3" *ngIf="idValidField('lastname')">
        El apellido es requerido.
      </ion-text>

      <ion-item>
        <ion-select formControlName="identificationType" labelPlacement="floating" label="Tipo de identidad">
          <ion-select-option value="cedula">Cédula</ion-select-option>
          <ion-select-option value="nit">NIT</ion-select-option>
          <ion-select-option value="pasaporte">Pasaporte</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger" class="text-error pl-3" *ngIf="idValidField('identificationType')">
        El tipo de identidad es requerido.
      </ion-text>

      <ion-item>
        <ion-input formControlName="identificationNumber" type="text" labelPlacement="floating"
          label="Número de identidad"></ion-input>
      </ion-item>
      <ion-text color="danger" class="text-error pl-3" *ngIf="idValidField('identificationNumber')">
        El número de identidad es requerido.
      </ion-text>

      <ion-item>
        <ion-input formControlName="email" type="email" placeholder="example@example.com" labelPlacement="floating"
          label="Email"></ion-input>
      </ion-item>
      <ion-text color="danger" class="text-error pl-3" *ngIf="idValidField('email')">
        El correo electrónico es requerido o no es valido.
      </ion-text>


      <ion-item>
        <ion-input formControlName="password" type="password" labelPlacement="floating" label="Contraseña"></ion-input>
      </ion-item>
      <ion-text color="danger" class="text-error pl-3" *ngIf="idValidField('password')">
        La contraseña debe de ser mayor de 6 caracteres.
      </ion-text>

      <ion-item>
        <ion-input formControlName="password2" type="password" labelPlacement="floating"
          label="Repita la contraseña"></ion-input>
      </ion-item>
      <ion-text color="danger" class="text-error pl-3" *ngIf="idValidField('password2')">
        Las contraseñas deben de ser iguales
      </ion-text>

      <ion-item>
        <ion-select formControlName="gender" labelPlacement="floating" label="Género">
          <ion-select-option value="masculino">Masculino</ion-select-option>
          <ion-select-option value="femenino">Femenino</ion-select-option>
          <ion-select-option value="no-especificado">Prefiero no especificar</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger" class="text-error pl-3" *ngIf="idValidField('gender')">
        Debes seleccionar tu género.
      </ion-text>

      <ion-item>
        <ion-input formControlName="phone" type="tel" labelPlacement="floating"
          label="Número de teléfono"></ion-input>
      </ion-item>
      <ion-text color="danger" class="text-error pl-3" *ngIf="idValidField('phone')">
        El número de teléfono es requerido.
      </ion-text>

      <ion-item>
        <ion-button (click)="addPhotoToGallery('photoIdFront')">Adjuntar imagen</ion-button>
        <ion-input formControlName="photoIdFront" type="text"
        label="" readonly></ion-input>
      </ion-item>
      <ion-text color="danger" class="text-error pl-3" *ngIf="idValidField('photoIdFront')">
        La foto de la cédula es requerido.
      </ion-text>
  

      <ion-item>
        <ion-button (click)="addPhotoToGallery('photoIdBack')">Adjuntar imagen</ion-button>
        <ion-input formControlName="photoIdBack" type="text"
        label="" readonly></ion-input>
      </ion-item>
      <ion-text color="danger" class="text-error pl-3" *ngIf="idValidField('photoIdBack')">
        La foto de la cédula es requerido.
      </ion-text>
  

      <ion-item>
        <ion-button (click)="addPhotoToGallery('photoFacial')">Adjuntar imagen</ion-button>
        <ion-input formControlName="photoFacial" type="text"
        label="" readonly></ion-input>
      </ion-item>
      <ion-text color="danger" class="text-error pl-3" *ngIf="idValidField('photoFacial')">
        La foto facial es requerido.
      </ion-text>

      <ion-button expand="block" type="submit">Registrarse</ion-button>
  </form>
</ion-content>