<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile/show"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input required formControlName="current_password" type="{{ showCurrentPassword ? 'text' : 'password' }}" labelPlacement="floating" label="Contraseña actual"></ion-input>
      <ion-icon
        slot="end" name="{{ showCurrentPassword ? 'eye-off' : 'eye' }}" (click)="toggleShowPassword('current')">
      </ion-icon>
    </ion-item>
    <ion-item>
      <ion-input required formControlName="password" type="{{ showNewPassword ? 'text' : 'password' }}" labelPlacement="floating" label="nueva contraseña"></ion-input>
      <ion-icon
        slot="end" name="{{ showNewPassword ? 'eye-off' : 'eye' }}" (click)="toggleShowPassword('new')">
      </ion-icon>
    </ion-item>
    <ion-item>
      <ion-input required formControlName="password2" type="{{ showNewPassword2 ? 'text' : 'password' }}" labelPlacement="floating" label="confirmar contraseña"></ion-input>
      <ion-icon
        slot="end" name="{{ showNewPassword2 ? 'eye-off' : 'eye' }}" (click)="toggleShowPassword('new2')">
      </ion-icon>
    </ion-item>
    <ion-button expand="block" color="primary" type="submit" [disabled]="myForm.invalid">
      Actualizar Contraseña
    </ion-button>
  </form>
</ion-content>