<div class="d-flex flex-column align-items-center">
  <h1 class="my-4 text-center">
    Bienvenido
  </h1>
  <div class="d-flex flex-column align-items-center mt-4">
    <form [formGroup]="myForm" (ngSubmit)="onLogin()">
      <ion-list>
        <ion-item>
          <ion-input formControlName="email" type="email" labelPlacement="floating" label="Email" placeholder="example@example.com"></ion-input>
          <ion-text color="danger"  class="text-error pl-3" *ngIf="isValidField('email')">
            Correo requerido o no válido
          </ion-text>
        </ion-item>
      
        <ion-item>
          <ion-input formControlName="password" type="{{showPassword ? 'text' : 'password'}}" labelPlacement="floating" label="Contraseña" placeholder="Contraseña"></ion-input>
          <ion-icon slot="end" name="{{showPassword ? 'eye': 'eye-off'}}" (click)="toggleShowPassword()"></ion-icon>
          <ion-text color="danger" class="text-error pl-3" *ngIf="isValidField('password')">
            La contraseña debe tener mínimo 6 dígitos
          </ion-text>
        </ion-item>
    
      </ion-list>
    
      <ion-button color="primary"  expand="block" type="submit" class="text-center">
        Ingresar
      </ion-button>
    
    </form>
  
    <div class="flex justify-content-end mt-5">
      <a routerLink="/auth/register">¿No tienes una cuenta?</a>
    </div>
  </div>

</div>